body * {
  box-sizing: border-box;
}

.block {
  display: block;
}

.margin-center {
  margin: 0 auto;
}

.page-content {
  margin-top: 20px;
  max-width: 1500px;
}

.header-overwrite {
  min-height: 80px;
}

.header-row-overwrite {
  height: 78px;
}

.titles {
  color: black;
}

.add-button {
  position: fixed;
  left:10px;
  top: 13px;
}

.decision-card-square.mdl-card {
  width: 100%;
  max-width: 500px;
  height: 420px;
  margin: 0 auto;
}

.decision-card-square > .mdl-card__title {
  color: #fff;
  background: rgba(20,0,0,0.7);
  text-decoration: none;
}

.dice-face > * {
  margin-left: 20px;
}

.dice-option {
  max-width: 600px;
  margin-left: 20px;
}

.option-list {
  padding:0px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.option > span {
  margin-left: 10px;
}

.dice-edit-form {
  margin-top: 20px;
}

.dice-edit-face {}

.authentication-form {
  position: fixed;
  height: 400px;
  width: 300px;
  left: 50%;
  top: 50%;
  margin-top: -200px;
  margin-left: -150px;
  z-index: 100;
}

.user-form-input-field {
  padding: 30px;
}

.black-out {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.7);
}

/********* EXPLAINER **************/

.explainer {
  display: none;
  margin: 0;
  padding: 50px 10%;
  background-color: rgb(30, 180, 255);
}

.explainer p, h1, h3, h4 {
  color: white;
}

.explainer h1, h3, h4 {
  margin: 60px 0;
  font-weight: bold;
}

.explainer p {
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 100;
}

.see-explainer {
  display: block;
  margin: 0 auto;
  background-color: rgb(30, 180, 255);
  color: white;
}

/********** RESULT BOX ************/

.result-box {
  position: absolute;
  left: 50%;
  margin-left: -140px;
  width: 280px;
  max-height: 500px;
  margin-top: 0px;
  background-color: rgba(255 , 255 , 255, 1);
  color: rgb(100, 0, 0);
  text-align: center;
  padding: 25px 20px 25px 20px;
  z-index: 1;
  overflow: visible;
  -webkit-transform: translateY(-400px);
  -moz-transform: translateY(-400px);
  -ms-transform: translateY(-400px);
  transform: translateY(-400px);
}

.result-box p{
  margin: 0 auto;
  padding: 0 auto;
}

.result-box button{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: transparent;
  border: none;
}

.result-box button i{
  position: absolute;
  width: 5px;
  height:5px;
  left: 0;
  top: 0;
  z-index: 2;
}

/* WebKit and Opera browsers */
@-webkit-keyframes pop-up {
 from {
   -webkit-transform: translateY(-400px);
 }
 12% {
   -webkit-transform: translateY(0);
 }
 to {
   -webkit-transform: translateY(0px);
 }
}

/* all other browsers */
@keyframes pop-up {
 from {
   -moz-transform: translateY(-400px);
   -ms-transform: translateY(-400px);
   transform: translateY(-400px);
 }
 12% {
   -moz-transform: translateY(0);
   -ms-transform: translateY(0);
   transform: translateY(0);
 }
 to {
   -webkit-transform: translateY(0px);
 }
}

.result-box.pop {
  -webkit-animation-name: pop-up;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 4s;
  -webkit-animation-fill-mode: forwards;

  animation-fill-mode: forwards;
  animation-name: pop-up;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-duration: 4s;
}

/********** DICE ANIMATION ************/

.dice-animation {
  position: absolute;
  left: 50%;
  margin-left: -50px;
}

.container {
  width: 100px;
  height: 100px;
  position: relative;
  perspective: 1000px;
}

#cube {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
}

#cube figure {
  margin: 0;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  border: 2px solid rgba(255, 125, 125, 0.8);;
  background-color: rgba(255, 125, 125, 0.5);
}

#cube { transform: translateZ( -50px ); }

#cube .front  { transform: rotateY(   0deg ) translateZ( 50px ); }
#cube .back   { transform: rotateX( 180deg ) translateZ( 50px ); }
#cube .right  { transform: rotateY(  90deg ) translateZ( 50px ); }
#cube .left   { transform: rotateY( -90deg ) translateZ( 50px ); }
#cube .top    { transform: rotateX(  90deg ) translateZ( 50px ); }
#cube .bottom { transform: rotateX( -90deg ) translateZ( 50px ); }

/* WebKit and Opera browsers */
 @-webkit-keyframes spinner {
   from {
     -webkit-transform: rotate3d(15, 30, 40, 0deg);
   }
   50% {
     -webkit-transform: rotate3d(-15, -30, 40, -180deg) scale3d(0.7, 0.7, 0.7);
   }
   to {
     -webkit-transform: rotate3d(15, 30, 40, -360deg);
   }
 }

 /* all other browsers */
 @keyframes spinner {
   from {
     -moz-transform: rotate3d(15, 30, 40, 0deg) scale3d(1, 1, 1);
     -ms-transform: rotate3d(15, 30, 40, 0deg) scale3d(1, 1, 1);
     transform: rotate3d(15, 30, 40, 0deg) scale3d(1, 1, 1);
   }
   50% {
     -moz-transform: rotate3d(-15, -30, 40, -180deg) scale3d(0.7, 0.7, 0.7);
     -ms-transform: rotate3d(-15, -30, 40, -180deg) scale3d(0.7, 0.7, 0.7);
     transform: rotate3d(-15, -30, 40, -180deg) scale3d(0.7, 0.7, 0.7);
   }
   to {
     -moz-transform: rotate3d(15, 30, 40, -360deg) scale3d(1, 1, 1);
     -ms-transform: rotate3d(15, 30, 40, -360deg) scale3d(1, 1, 1);
     transform: rotate3d(15, 30, 40, -360deg) scale3d(1, 1, 1);
   }
 }

 #cube.roll {
   -webkit-animation-name: spinner;
   -webkit-animation-timing-function: linear;
   -webkit-animation-iteration-count: 1;
   -webkit-animation-duration: 0.7s;

   animation-name: spinner;
   animation-timing-function: linear;
   animation-iteration-count: 1;
   animation-duration: 0.7s;

   -webkit-transform-style: preserve-3d;
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transform-style: preserve-3d;
 }
