doctype html
html
  head
    link(rel="stylesheet", type="text/css", href="/style/main.css")
  body
    block navigation
      nav
        button(class='js-dice')
        button(class='js-sign-in-out') sign in
        button(class='js-sign-up') register
        .user-control
    block content
      p main content
      
    block script
    script(src="static/assets/index.js")
